.backg {
  background-color: brown;
}
/* Types of Displays
  1. Inline
  2. Block */
.parent {
  /* position: static; */
  left: 100px;
}

.display-div {
  background-color: lightseagreen;
  position: relative;
  padding: 25px;
  border: 20px solid lightgreen;
  margin: 25px;
  margin-top: 100px;
  /* display: flex; */
  /* visibility: hidden; */
  /* display: none; */
}

.dispaly-span {
  /* display: block; */
  display: inline-block;
  height: 100px;
  width: 200px;
}
